<header>
    <nav class="navbar">

        <!-- logo -->
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="src/assets/images/arklogo.jpg">
          </a>
        </div>
      </nav>

  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="https://www.javainuse.com" class="navbar-brand">JavaInUse</a></div>
  
  <ul class="navbar-nav">
    <li><a  routerLink="/" class="nav-link">View Employees</a></li>
    <li><a  routerLink="/addemployee" class="nav-link">Add New Employee</a></li>
  
  </ul>
  
  </nav>
  
  </header>